body{
}

.container{
    display: inline-block;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
.container:first-child {
    padding-bottom: 20px;
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    min-height: 100vh;
}
.container:nth-child(3) {
    padding-top: 15px;
}  
    .hero-row{
        display: inline-block;
        text-align: center;
        width: 600px;
        margin: 0 calc(50% - 300px);
    }
        .logo{
            height: 34px;
            margin-bottom: 40px;
            object-fit: contain;
        }
        h1{
            font-size: 60px;
            line-height: 60px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .hero-row > p{
            margin-bottom: 60px;
            font-size: 22px;
            line-height: 25px;
            color: #a6b2bc;
        }
        .clock{
            margin-bottom: 60px;
        }
        .hero-row > .form{
            width: 90%;
            margin: 0 5% 10px;
        }

    .left-column{
        display: inline-block;
        float: left;
        width: 50%;
    }
    .right-column{
        display: inline-block;
        float: right;
        width: 40%;
    }
        .column-title{
            margin-bottom: 30px;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: normal;

        }
        .column-description{
            margin-bottom: 30px;
            color: #b0b1b6

        }
    .row{
        display: inline-block;
        width: 1000px;
        margin: 0 calc(50% - 500px);
        position: relative;
    }
        .left-column{
            width: 50%;
            float: left;

        }
        .right-column{
            width: 40%;
            float: right;
        }

    .back-to-top{
        display: inline-block;
        float: right;
        padding: 10px;
        text-decoration: none;
        background-color: red;
        color: #fff;
        top: -20px;
        right: -20px;
        position: absolute;

        

    }
  
    .socials{
        display: inline-block;
        width: 100%;
        float: left;
        border-bottom: 1px solid #48b3f2;
        text-align: center;
        padding-bottom: 5px;
        line-height: 20px;
    }
        .fa{
            display: inline-block;
            text-decoration: none;
            color: #fff;
            padding:15px;
            font-size: 10px;
            width: 40px;
            margin: 10px;
        }
        .socials > a:hover{
            background-color: #fff;
            border-radius: 50%;
            height: 40px;
        }
    .footer-texts{
        display: inline-block;
        width: 600px;
        float: left;
        margin-left: calc(50% - 300px);
        text-align: center;
        color: #fff;
        font-size: 18px;
    }
        .mlogo{
            text-align: center;
            padding-top: 20px;
            height: 40px;
            width: 100%;
            object-fit: contain;
        }
        .copyright{
            display: inline-block;
            padding-top: 15px;
        }
            .text{
                text-decoration: none;
                display: inline-block; 
                
            }
            .copyright > .text.border{
                margin-left: 20px;
                margin-right: 20px;
                position: relative;
            }
            .copyright > .text.border:before{
                display: inline-block;
                content: '';
                width: 1px;
                height: 10px;
                background-color: #fff;
                position: absolute;
                top: 6px;
                left: -9px;
            }
            .copyright > .text.border:after{
                display: inline-block;
                content: '';
                width: 1px;
                height: 10px;
                background-color: #fff;
                position: absolute;
                top: 6px;
                right: -9px;
            }
            .copyright > .text > a{
                color: #fff;

            }
            .footer-texts > p{
                display: inline-block;

            }
            .footer-texts a{
                color: #fff;

            }
            
.bg-blue {
    background-color: #3cabef;
}



@media (max-width:1100px) {
    .row{
        width: 600px;
        margin: 0 calc(50% - 300px);
    }
}

@media (max-width:700px) {
    .container{
        padding: 60px 20px;
    }
    .hero-row,
    .row{
        width: 100%;
        margin: 0;
    }
    .copyright > .text{
        width: 100%;
        .copyright > .text.border:before
        .copyright > .text.border:after{
            border: none;
        }

    }
    .container  .footer-texts{
        width: 100%;
    }
}
